@model Employee

@{
    ViewData["Title"] = "AddEmployee";
}

<h1>Add employee</h1>

<h4>Employee</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEmployee">
            
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="AddEmployee" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>