@model EmployeeViewModel


    <div>
        <div class="row">
            <div class="col">
                <header style="text-align: center;">
                    <h1 style="margin-top: 17px;">All Employees</h1>
                </header>
            </div>
        </div>

        <div class="row" style="margin-left: 10%;margin-right: 10%;">
            <div class="col">
                <h3 style="margin-left: 48px;">Filters</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="container" style="margin-left: 10%;margin-right: 10%;text-align: left;">
                    <div class="row" style="margin-left: 10%;">
                        <div class="col-md-6" style="width: 142px;">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Project</button>
                                @*<div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 10%;margin-right: 10%;">
                    <div class="col">
                        <div style="border-style: solid;height: 508px;width: 90%;text-align: center;margin-left: 5%;margin-top: 34px;overflow-y: scroll;">
                            @foreach(var employee in Model.Employees)
                            {
                                <div style="border-style: solid;border-color: var(--bs-red);height: 53px;margin-top: 8px;margin-right: 10px;margin-left: 10px;">
                                    <div class="d-inline-block float-start" style="border-style: solid;border-color: var(--bs-blue);width: 28%;margin-left: 10px;height: 45px;margin-top: 2px;margin-bottom: 2px;">
                                        <p style="margin-top: 7px;">@employee.Id</p>
                                    </div>
                                    <div class="d-inline-block float-start" style="border-style: solid;border-color: var(--bs-blue);width: 28%;margin-left: 10px;height: 45px;margin-top: 2px;margin-bottom: 2px;">
                                        <p style="margin-top: 7px;">@employee.Name</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
