@model ProjectViewModel

@section Scripts {
    <script src="~/js/taskPopup.js"></script>
}

<div class="row">
    <div class="col">
        <header class="text-center">
            <h1 class="mt-1">@Model.Project.Name</h1>
        </header>
    </div>
</div>
<div class="row mx-5">
    <div class="col-md-7">
        <div class="border" style="overflow-y: scroll;">
            <div class="border mx-1 mt-1" style="color: var(--bs-gray-900);border-style: solid;">
                <p>[Description]<br><br></p>
            </div>
            <div>
                <img class="d-inline-block" style="height: 110px;width: 150px;margin-top: 10px;margin-left: 10px;border-style: solid;" src="assets/img/profile.jpg"><img class="d-inline-block" style="height: 110px;width: 150px;margin-top: 10px;margin-left: 10px;border-style: solid;" src="assets/img/profile.jpg"><img class="d-inline-block" style="height: 110px;width: 150px;margin-top: 10px;margin-left: 10px;border-style: solid;" src="assets/img/profile.jpg"><img class="d-inline-block" style="height: 110px;width: 150px;margin-top: 10px;margin-left: 10px;border-style: solid;" src="assets/img/profile.jpg"><img class="d-inline-block" style="height: 110px;width: 150px;margin-top: 10px;margin-left: 10px;border-style: solid;" src="assets/img/profile.jpg"><img class="d-inline-block" style="height: 110px;width: 150px;margin-top: 10px;margin-left: 10px;border-style: solid;" src="assets/img/profile.jpg">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="container-fluid text-center">Assigned Employees</div>
        <div class="border text-center mx-5">
            @foreach (var employee in Model.Employees)
            {
                <div class="row w-100">
                    <p class="col-2">@employee.Id</p>
                    <p class="col-10">@employee.Name</p>
                </div>
                <!--<div style="border-style: solid;border-color: var(--bs-red);height: 53px;margin-top: 8px;margin-right: 10px;margin-left: 10px;">
                    <div class="d-inline-block float-start" style="border-style: solid;border-color: var(--bs-blue);width: 28%;margin-left: 10px;height: 45px;margin-top: 2px;margin-bottom: 2px;">
                        <p style="margin-top: 7px;"></p>
                    </div>
                    <div class="d-inline-block float-start" style="border-style: solid;border-color: var(--bs-blue);width: 28%;margin-left: 10px;height: 45px;margin-top: 2px;margin-bottom: 2px;">
                        <p style="margin-top: 7px;"></p>
                    </div>
                </div>-->
            }
        </div>
    </div>
</div>
<h1 class="text-center" style="margin: 0px;margin-top: 35px;margin-bottom: -46px;">Tasks</h1>
<div class="row" style="border-style: solid;height: 300px;margin-top: 53px;overflow-y: scroll;margin-left: 10%;margin-right: 10%;">
    <div class="col">
        <div>
            @foreach (var _task in Model.Tasks)
            {
                <button class="task-load-button w-100" data-taskId="@_task.Id">
                    @await Component.InvokeAsync("TaskRow", new { task = _task, projectName = Model.Project.Name })
                </button>
            }
        </div>
    </div>
</div>
