@model PowerUpBuildersWeb.Models.Task

<div id="readonly-body" class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <div>Description</div>
            <p>@Model.Description</p>
        </div>
    </div>
    <div id="jsGrid">
    </div>
    <div id="filesGrid"></div>
</div>