@model ProjectsViewModel

@section scripts
{
    <script src="~/js/projectsManager.js"></script>
}
<link rel="stylesheet" href="~/css/styles.css" />

<div class="main-container">
    <div class="row top-row">
        <div class="col">
            <header class="header-class">
                <h1 id="header-projects">Current Projects</h1>
            </header>
        </div>
    </div>

    <div class="row" id="main-row">
        <div class="col project-column">
            <div class="container projects-container">
                <div class="projects">
                    <div class="row projects-row">
                        @{ var count = 1;} 
                        @foreach (var project in Model.Projects)
                        {
                            <div class="col-md-3">
                                <div class="d-inline-block float-start project-div">
                                    <div class="project-title">
                                        <h5 class="text-break text-center">@project.Name</h5>
                                    </div>
                                    <div class="project-buttons">
                                        <div class="btn-group-vertical button-group" role="group">
                                            <button class="btn btn-primary project-button updateProject" type="button" data-bss-hover-animate="pulse" data-id="@project.Id">Edit</button>
                                            <button class="btn btn-primary project-button deleteProject" data-bss-hover-animate="pulse" type="button" data-id="@project.Id">Delete</button>
                                            <button class="btn btn-primary project-button" data-bss-hover-animate="pulse" type="button">Tasks</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            count++;

                            @if (count == 5) {
                                <div class="w-100"></div>
                                count = 1;
                            }

                        }
                    </div>


                </div>
            </div><button class="btn btn-primary add-button" data-bss-hover-animate="pulse" type="button"  onclick="location.href = '@Url.Action("Create","Projects")'">+</button>
        </div>
    </div>

    <div id='myModal0' class='modal'>
        <div class="modal-dialog0">
            <div class="modal-content0">
                <div id='myModalContent0'></div>
            </div>
        </div>
    </div>

    <div id='myModal2' class='modal'>
        <div class="modal-dialog2">
            <div class="modal-content2">
                <div id='myModalContent2'></div>
            </div>
        </div>
    </div>

</div>
