@model Project

<div style="margin-top:60px">
    <div class="card" style="width: 30%; margin-left: auto; margin-right: auto; margin-top: 360px; ">
        <div class="card-header">
            <h5>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h5>
        </div>
        <div class="card-body">
            
            @using (Html.BeginForm("ConfirmDelete", "Projects", new { id = Model.Id }, FormMethod.Post))
            {
        <div class="form-actions no-color" style="text-align: center">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i> Close</button>
        </div>
            }
        </div>
    </div>
</div>